.text {
  margin: 12px 12px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  word-wrap: break-word;
}

.duplicates {
  width: 100px
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#popup {
  background-color: #ffecb3;
  border-style: solid;
  border-color: #ff8f00;
  border-width: 5px;
  width: 300px;
}

.btn {
  position: absolute;
  left: 55%;
  line-height: 12px;
  padding: 0;
  border: none;
  background: none;
  width: 15px;
  height: 15px;
  border-radius: 10px;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  background: #ff8f00;
}

.remove {
  position: relative;
}

ul {
  list-style: square;
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sound {
  display: flex;
  justify-content: flex-end;
}

.sound .settings {
  margin-top: -12px;
  margin-right: 5px;
}

hr {
  border: 0;
  border-top: 1px solid #000000;
  margin-top: 0px;
  margin-bottom: 16px;
}

/*switch adapted from https://proto.io/freebies/onoff/*/
.onoffswitch {
    position: relative; width: 65px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1px solid #000000; border-radius: 18px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 19px; padding: 0; line-height: 19px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #FF8F00; color: #000000;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 13px; height: 13px; margin: 3px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 42px;
    border: 1px solid #000000; border-radius: 18px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
